In [135]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
# without writing the plot.show() graph can be shown

In [136]:
train_df = pd.read_excel('Flightprice_Train.xlsx')
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [137]:
test_df = pd.read_excel('Flightprice_Test.xlsx')
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [138]:
final_df = pd.concat([train_df, test_df], axis = 0)
print(len(train_df), len(test_df), len(final_df))

10683 2671 13354

In [139]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [140]:
# Feature Engineering
# final_df['Day'] = final_df['Date_of_Journey'].str.split('/').str[0]
# final_df['Month'] = final_df['Date_of_Journey'].str.split('/').str[1]
# final_df['Year'] = final_df['Date_of_Journey'].str.split('/').str[2]

# or

final_df['Day'] = final_df['Date_of_Journey'].apply(lambda x:x.split('/')[0])
final_df['Month'] = final_df['Date_of_Journey'].apply(lambda x:x.split('/')[1])
final_df['Year'] = final_df['Date_of_Journey'].apply(lambda x:x.split('/')[2])

In [141]:
final_df['Day'] = final_df['Day'].astype(int)
final_df['Month'] = final_df['Month'].astype(int)
final_df['Year'] = final_df['Year'].astype(int)
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Day              13354 non-null  int32
 12  Month            13354 non-null  int32
 13  Year             13354 non-null  int32
dtypes: float64(1), int32(3), object(10)
memory usage: 1.4+ MB

In [142]:
final_df.drop('Date_of_Journey', axis = 1, inplace = True)
final_df.head(10)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019
5,SpiceJet,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No info,3873.0,24,6,2019
6,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25 13 Mar,15h 30m,1 stop,In-flight meal not included,11087.0,12,3,2019
7,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:00,05:05 02 Mar,21h 5m,1 stop,No info,22270.0,1,3,2019
8,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:55,10:25 13 Mar,25h 30m,1 stop,In-flight meal not included,11087.0,12,3,2019
9,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,11:25,19:15,7h 50m,1 stop,No info,8625.0,27,5,2019

In [143]:
final_df.Arrival_Time.str.split(' ').str[0]

0       01:10
1       13:15
2       04:25
3       23:30
4       21:35
        ...
2666    20:25
2667    16:55
2668    04:25
2669    19:15
2670    19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [144]:
final_df['Arrival_Time'] = final_df['Arrival_Time'].apply(lambda x:x.split(' ')[0])

In [145]:
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Day                   0
Month                 0
Year                  0
dtype: int64

In [146]:
final_df['Arrival_hour'] = final_df['Arrival_Time'].apply(lambda x:x.split(':')[0])
final_df['Arrival_minutes'] = final_df['Arrival_Time'].apply(lambda x:x.split(':')[1])
final_df['Arrival_hour'] = final_df['Arrival_hour'].astype(int)
final_df['Arrival_minutes'] = final_df['Arrival_minutes'].astype(int)
final_df.drop('Arrival_Time', axis = 1, inplace = True)


final_df['Dep_hour'] = final_df['Dep_Time'].apply(lambda x:x.split(':')[0])
final_df['Dep_minutes'] = final_df['Dep_Time'].apply(lambda x:x.split(':')[1])
final_df['Dep_hour'] = final_df['Dep_hour'].astype(int)
final_df['Dep_minutes'] = final_df['Dep_minutes'].astype(int)
final_df.drop('Dep_Time', axis = 1, inplace = True)

In [147]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   Day              13354 non-null  int32
 9   Month            13354 non-null  int32
 10  Year             13354 non-null  int32
 11  Arrival_hour     13354 non-null  int32
 12  Arrival_minutes  13354 non-null  int32
 13  Dep_hour         13354 non-null  int32
 14  Dep_minutes      13354 non-null  int32
dtypes: float64(1), int32(7), object(7)
memory usage: 1.3+ MB

In [148]:
final_df[final_df['Route'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,Arrival_hour,Arrival_minutes,Dep_hour,Dep_minutes
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

In [149]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [150]:
final_df['Total_Stops'] = final_df['Total_Stops'].map({'1 stop':1,'2 stops':2,'3 stops':3, '4 stops':4,'non-stop':0, 'nan':2 })
final_df.drop('Route', axis = 1, inplace = True)

In [151]:
final_df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,Arrival_hour,Arrival_minutes,Dep_hour,Dep_minutes
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50

In [152]:
final_df.Additional_Info.unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [153]:
final_df['Duration_minutes']= final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [154]:
final_df.iloc[6474, :]

Airline             Air India
Source                 Mumbai
Destination         Hyderabad
Duration                   5m
Total_Stops               2.0
Additional_Info       No info
Price                 17327.0
Day                         6
Month                       3
Year                     2019
Arrival_hour               16
Arrival_minutes            55
Dep_hour                   16
Dep_minutes                50
Duration_minutes           5m
Name: 6474, dtype: object

In [155]:
final_df.drop(6474,axis = 0, inplace = True)
final_df.drop(2660, axis = 0, inplace = True)

In [156]:
final_df['Duration_minutes'] = final_df['Duration_minutes'].apply(lambda x:int(x)*60)
final_df['Duration_minutes'].unique()

array([ 120,  420, 1140,  300,  240,  900, 1260, 1500,  780,  720, 1560,
       1320, 1380, 1200,  600,  360,  660,  480,  960,  180, 1620,   60,
        840,  540, 1080, 1020, 1440, 1800, 1680, 1740, 2220, 2040, 2280,
       2100, 2160, 2820, 1980, 1920, 1860, 2520, 2340, 2460, 2400],
      dtype=int64)

In [157]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13351 non-null  object
 1   Source            13351 non-null  object
 2   Destination       13351 non-null  object
 3   Duration          13351 non-null  object
 4   Total_Stops       13350 non-null  float64
 5   Additional_Info   13351 non-null  object
 6   Price             10681 non-null  float64
 7   Day               13351 non-null  int32
 8   Month             13351 non-null  int32
 9   Year              13351 non-null  int32
 10  Arrival_hour      13351 non-null  int32
 11  Arrival_minutes   13351 non-null  int32
 12  Dep_hour          13351 non-null  int32
 13  Dep_minutes       13351 non-null  int32
 14  Duration_minutes  13351 non-null  int64
dtypes: float64(2), int32(7), int64(1), object(5)
memory usage: 1.3+ MB

In [158]:
final_df['Minutes'] = final_df['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [159]:
final_df['Minutes'].fillna(0)
# final_df['Minutes'] = final_df['Minutes'].astype(int)

0       50
1       25
2        0
3       25
4       45
        ..
2666    55
2667    35
2668    35
2669    15
2670    20
Name: Minutes, Length: 13351, dtype: object

In [162]:
final_df['Minutes'].isnull()

0       False
1       False
2        True
3       False
4       False
        ...
2666    False
2667    False
2668    False
2669    False
2670    False
Name: Minutes, Length: 13351, dtype: bool

In [166]:
import sklearn
from sklearn.preprocessing import OneHotEncoder
ohn = OneHotEncoder
final_df['Airline'] = ohn.fit_transform(np.array(final_df['Airline']).reshape(-1,1))
final_df['Source'] = ohn.fit_transform(final_df['Source'])
final_df['Destination'] = ohn.fit_transform(final_df['Destination'])
final_df['Additional_Info'] = ohn.fit_transform(final_df['Additional_Info'])

TypeError: OneHotEncoder.fit_transform() missing 1 required positional argument: 'X'